
.NavbarItems {
    background: #11426d;
    color: #eeece8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 5em;
}

.navbar-logo {
    color: #eeece8;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    text-decoration: none;
}

.nav-links {
    color: #eeece8;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background: #55c3ea;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}